# VSCode
.vscode/

# IntelliJ
.idea/
*.iml
*.iws
*.eml

# Eclipse
.metadata/
.recommenders/
RemoteSystemsTempFiles/
.loadpath
.externalToolBuilders/
*.launch
.settings/
.project
.classpath

# Build artifacts
bin/
target/
*.class

# OS-specific
.DS_Store
Thumbs.db

# MkDocs
public/


# Virtual Environment
.venv/
